.bp3-card.card {
  padding: 0;
  margin: 24px;
  background-color: #fff;
  background-clip: border-box;
  border-color: #dee2e6;
  width: 240px;
  min-height: 312px;
}

.bp3-card.card_grid {
  display: grid;
}

.bp3-card.card_pull_left {
  float: left;
}

.card__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 144px;
  width: 100%;
}
