body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.favicon {
  height: 16px;
  width: 16px;
}

.text-center {
  text-align: center;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
}

.content {
  grid-column: 2;
  grid-row: 2;
  padding: 0 15px;
  height: 100vh;
  background-color: #f9fafc;
}

.scroll_off {
  overflow: hidden;
}

.scroll_on {
  overflow: scroll;
}

.upcase {
  text-transform: uppercase;
}

/* helpers */
.w-100 {
  width: 100%;
}

main {
  padding: 30px;
}
.example {
  padding: 30px 30px 15px;
  border: 2px seashell solid;
  margin-bottom: 30px;
}
.example [class^='col'] {
  padding-top: calc(var(--grid-gutter-width) / 2);
  padding-bottom: calc(var(--grid-gutter-width) / 2);
  background: bisque;
  border: 1px sandybrown solid;
}
.example .row {
  margin-bottom: 15px;
}
.example [class^='row align'] {
  min-height: 10rem;
  background: antiquewhite;
}
